# robot-dog C++ style: four-column tabs and Allman braces.
code_width = 120
input_tab_size = 4
output_tab_size = 4
indent_columns = 4
indent_continue = 4
indent_with_tabs = 2
indent_access_spec_body = true

nl_if_brace = force
nl_else_brace = force
nl_elseif_brace = force
nl_for_brace = force
nl_while_brace = force
nl_try_brace = force
nl_catch_brace = force
nl_brace_else = force
nl_brace_catch = force
nl_fdef_brace = force
nl_class_brace = force
